.modal-language{
  display: none;
  &--active{
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    justify-content: space-between;
    color: #ffffff;
    z-index: 20;
  }
}
.modal-language__close{
  width: 19px;
  height: 19px;
  background-image: url(../img/close.svg);
  background-position: 10px 10px;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.modal-lang-list{
  list-style: none;
  margin: 0;
  &__item{
    padding: 20px 60px 20px 10px;
    position: relative;
    text-align: right;
    &::after{
      position: absolute;
      display: block;
      content: "";
      width: 40px;
      height: 40px;
      right: 0;
      top: 10px;
      box-sizing: border-box;
      background-size: contain;
    }
    &--current{
      & span {
        opacity: 0.5;
      }
      &::after{
        border: 2px solid #2BE9A3;
        border-radius: 50%;
      }
    }
    &[data-lang = "en"]::after{
      background-image: url(../img/english-flag.svg);
    }
    &[data-lang = "vn"]::after{
      background-image: url(../img/vn.svg);
    }
    &[data-lang = "ph"]::after{
      background-image: url(../img/ph.svg);
    }
    &[data-lang = "ch"]::after{
      background-image: url(../img/ch.svg);
    }
    &[data-lang = "th"]::after{
      background-image: url(../img/th.svg);
    }
    &[data-lang = "in"]::after{
      background-image: url(../img/in.svg);
    }
    & a {
      color: #ffffff;
      text-decoration: none;
      line-height: 18px;
    }
  }
}
.modal-overlay{
  display: none;
  &--active{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
