.payment_method{
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  padding: 10px 3vw;
  position: relative;
  background-color: #fff;
  min-height: 90vh;
  box-sizing: border-box;
  &__title{
    line-height: 20.5px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 16px;
  }
}
.payment-info-title{
  line-height: 18px;
  margin-bottom: 10px;
  margin-left: 16px;
}
.payment-info{
  background-image: linear-gradient(to top, #3DAF85,  #2BE9A3);
  border-radius: 20px;
  padding: 2px;
  &-inner{
    background-color: #fff;
    padding: 16px 26px;
    border-radius: 20px;
  }
  &__label{
    font-size: 14px;
    color: #2BE9A3;
    line-height: 18px;
    margin: 0;
  }
  &__text{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 31px;
  }
}
.choose-method{
  padding: 16px;
  border-radius: 20px;
  background-color: #F1F1F1;
  margin-bottom: 25px;
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item{
    text-transform: uppercase;
    background-color: #fff;
    padding: 16px 17px 17px 34px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    & .choose-method__text {
      position: relative;
      margin: 0;
      padding-left: 90px;
      &::before{
        content: "";
        position: absolute;
        display: block;
        background-repeat: no-repeat;
      }
    }
    &--bank p::before{
      width: 55px;
      height: 25px;
      background-image: url(../img/local-bank.svg);
      left: 22px;
      top: -3px;
    }
    &--debit p::before{
      width: 45px;
      height: 35px;
      background-image: url(../img/online-debit.svg);
      left: 22px;
      top: -3px;
    }
    &--duti p::before{
      width: 30px;
      height: 30px;
      background-image: url(../img/duti.svg);
      left: 22px;
      top: -3px;
    }
    &--touch p::before{
      width: 40px;
      height: 40px;
      background-image: url(../img/touchngo.svg);
      left: 22px;
      top: -11px;
    }
    &::before{
      content: "";
      position: absolute;
      width: 18px;
      left: 16px;
      top: 16px;
      height: 18px;
      border: 2px solid #F1F1F1;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}
.accordion__item_show.choose-method__item::before{
  background-color: #2BE9A3;
  border: 0;
}
.bottom-payment{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  &__secure {
    letter-spacing: 0.21em;
    margin: 0;
    position: relative;
    &::before{
      display: block;
      content: "";
      width: 24px;
      height: 30px;
      position: absolute;
      background-image: url(../img/footer-logo.svg);
      left: -30px;
    }
  }
  &__ssl{
    font-size: 9px;
    margin: 0;
  }
}
.top-head{
  margin-bottom: 30px;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  &__back{
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    padding-left: 20px;
    margin-left: 16px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      left: 2px;
      top: 1px;
      background-image: url(../img/back-left-icon.svg);
    }
  }
  &__lang{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    &[data-lang = "en"]{
      background-image: url(../img/english-flag.svg);
    }
    &[data-lang = "vn"]{
      background-image: url(../img/vn.svg);
    }
    &[data-lang = "ph"]{
      background-image: url(../img/ph.svg);
    }
    &[data-lang = "ch"]{
      background-image: url(../img/ch.svg);
    }
    &[data-lang = "th"]{
      background-image: url(../img/th.svg);
    }
    &[data-lang = "in"]{
      background-image: url(../img/in.svg);
    }
  }
}
.modal-language{
  display: none;
  &--active{
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    justify-content: space-between;
    color: #ffffff;
    z-index: 20;
  }
}
.modal-language__close{
  width: 19px;
  height: 19px;
  background-image: url(../img/close.svg);
  background-position: 10px 10px;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.modal-lang-list{
  list-style: none;
  margin: 0;
  &__item{
    padding: 20px 60px 20px 10px;
    position: relative;
    text-align: right;
    &::after{
      position: absolute;
      display: block;
      content: "";
      width: 40px;
      height: 40px;
      right: 0;
      top: 10px;
      box-sizing: border-box;
      background-size: contain;
    }
    &--current{
      & span {
        opacity: 0.5;
      }
      &::after{
      border: 2px solid #2BE9A3;
      border-radius: 50%;
      }
    }
    &[data-lang = "en"]::after{
      background-image: url(../img/english-flag.svg);
    }
    &[data-lang = "vn"]::after{
      background-image: url(../img/vn.svg);
    }
    &[data-lang = "ph"]::after{
      background-image: url(../img/ph.svg);
    }
    &[data-lang = "ch"]::after{
      background-image: url(../img/ch.svg);
    }
    &[data-lang = "th"]::after{
      background-image: url(../img/th.svg);
    }
    &[data-lang = "in"]::after{
      background-image: url(../img/in.svg);
    }
    & a {
      color: #ffffff;
      text-decoration: none;
      line-height: 18px;
    }
  }
}
.modal-overlay{
  display: none;
  &--active{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    //backdrop-filter: blur(4px);
  }
}
.pay-method-list{
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-left: -16px;
  &__item{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    padding-left: 82px;
    position: relative;
    padding-right: 40px;
    &::after{
      display: block;
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url(../img/more-icon.svg);
      top: 13px;
      right: 13px;
      transition: transform 0.2s ease-out;
    }
    &::before{
      display: block;
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }
    &--berhad::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/public-icon.svg);
      top: 14px;
      left: 13px;
    }
    &--maybank::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/maybank-icon.svg);
      top: 17px;
      left: 13px;
    }
    &--rhb::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/rhb-icon.svg);
      top: 17px;
      left: 13px;
    }
    &--hong::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/hong-leong-icon.svg);
      top: 17px;
      left: 13px;
    }
    &--ambank::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/ambank-icon.svg);
      top: 17px;
      left: 13px;
    }
    &--simpanan::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/simpanan-icon.svg);
      top: 17px;
      left: 13px;
    }
    &--cimb::before{
      width: 52px;
      height: 24px;
      background-image: url(../img/cimb-bank.svg);
      top: 17px;
      left: 13px;
    }
    &--affin::before{
      width: 52px;
      height: 52px;
      background-image: url(../img/affin-icon.svg);
      top: 0;
      left: 13px;
    }
  }
}
.pay-method-list__item.accordion__item_show::after{
  transform: rotate(-180deg);
  transition: transform 0.2s ease-out;
}
.choose-method-title{
  margin-left: 16px;
  margin-top: 24px;
}
.payment-form{
  margin-left: -75px;
  margin-top: 40px;
  padding: 5px;
  &__text{
    text-align: center;
    color: #939393;
    margin-top: 16px;
    text-transform: none;
  }
}
.btn{
  &--payment{
    display: block;
    background-color: #2BE9A3;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    border: 0;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
  }
}
.pay-method-list__item.accordion__item_show{
  background-color: $white-color;
  box-shadow: 0 2px 9px rgba(213, 213, 213, 0.5);
}
